<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BankAccount</title>
    <link th:rel="stylesheet" th:href="@{css/bootstrap.min.css}">
</head>
<body>

<div class="container">


<h1>Register BankAccount</h1>
<form th:action="@{/bankaccount}" method="POST">

    <div class="from-group">
        <label for="inputId">Id</label>
        <input type="input" class="form-control" name="id" id="inputId">
    </div>

    <div class="from-group">
        <label for="inputCustomerId">CustomerId</label>
        <input type="input" class="form-control" name="customerId" id="inputCustomerId">
    </div>

    <div class="from-group">
        <label for="inputType">Type</label>
        <input type="input" class="form-control" name="type" id="inputType">
    </div>

    <div class="from-group">
        <label for="inputBalance">Balance</label>
        <input type="input" class="form-control" name="balance" id="inputBalance">
    </div>

    <div class="from-group">
        <input type="submit" class="btn btn-primary">
    </div>

</form>
<hr>

<h1>All BankAccount</h1>

<table class="table">
    <thead class="thead-light">
    <tr>
        <th>Id</th>
        <th>CustomerId</th>
        <th>Type</th>
        <th>Balance</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each = "bankaccount : ${allBankAccounts}">
            <td th:text = "${bankaccount.id}"></td>
            <td th:text = "${bankaccount.customerId}"></td>
            <td th:text = "${bankaccount.type}"></td>
            <td th:text = "${bankaccount.balance}"></td>
        </tr>
    </tbody>
</table>
</div>

</body>
</html>